@model IEnumerable<Diary2.ViewModels.Archivevm>

@{
    ViewBag.Title = "Archive";
}

<div class="row">

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

        <article role="pge-title-content">

            <header>

                <h2><span>Diary.</span>Blog.Story.</h2>

            </header>

            <p>This is the cut scenes of a couple from Canada and South Korea</p>

        </article>

    </section>


    @foreach (var item in Model)
    {
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <figure class="effect-oscar">
                <img src=@Url.Content(item.GenerateArchivePhotos()) alt="~/images/home-images/1.jpg" class="img-responsive" />
                <figcaption>
                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                    @Html.ActionLink("View More", "../Diary/All", new { id = item.Id })
                </figcaption>

            </figure>

        </section>
        <div class="clearfix"></div>
    }

</div>
