<div class="row">



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

        <article role="pge-title-content">

            <header>

                <h2><span>Diary.</span>Blog.Story.</h2>

            </header>

            <p>This is the cut scenes of a couple from Canada and South Korea</p>

        </article>

    </section>



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <figure class="effect-oscar">

            <img src="images/home-images/10.jpg" alt="" class="img-responsive" />

            <figcaption>

                <h2>OCTOBER</h2>

                <p>2017</p>

                <a href="works-details.html">View more</a>

            </figcaption>

        </figure>

    </section>



    <div class="clearfix"></div>



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <ul class="grid-lod effect-2" id="grid">

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/11.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>November</h2>

                        <p>2017</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>



            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-4.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>A Brand <span>new Agency</span></h2>

                        <p>Over 40,000 customers use our themes to power their</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-2.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>Studio Thonik <span>Exhibition</span></h2>

                        <p>Project for Thonik, design studio based in Amsterdam</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-4.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>A Brand <span>new Agency</span></h2>

                        <p>Over 40,000 customers use our themes to power their</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-2.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>Studio Thonik <span>Exhibition</span></h2>

                        <p>Project for Thonik, design studio based in Amsterdam</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-4.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>A Brand <span>new Agency</span></h2>

                        <p>Over 40,000 customers use our themes to power their</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-2.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>Studio Thonik <span>Exhibition</span></h2>

                        <p>Project for Thonik, design studio based in Amsterdam</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-4.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>A Brand <span>new Agency</span></h2>

                        <p>Over 40,000 customers use our themes to power their</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

        </ul>

    </section>



    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <ul class="grid-lod effect-2" id="grid">

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-3.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>Anatome Milano <span>Galleria</span></h2>

                        <p>Galerie Anatome based in Paris</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-5.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>A Brand <span>new Agency</span></h2>

                        <p>Over 40,000 customers use our themes to power their</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-3.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>Anatome Milano <span>Galleria</span></h2>

                        <p>Galerie Anatome based in Paris</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-5.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>A Brand <span>new Agency</span></h2>

                        <p>Over 40,000 customers use our themes to power their</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-3.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>Anatome Milano <span>Galleria</span></h2>

                        <p>Galerie Anatome based in Paris</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-5.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>A Brand <span>new Agency</span></h2>

                        <p>Over 40,000 customers use our themes to power their</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-3.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>Anatome Milano <span>Galleria</span></h2>

                        <p>Galerie Anatome based in Paris</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

            <li>

                <figure class="effect-oscar">

                    <img src="images/home-images/image-5.jpg" alt="" class="img-responsive" />

                    <figcaption>

                        <h2>A Brand <span>new Agency</span></h2>

                        <p>Over 40,000 customers use our themes to power their</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </li>

        </ul>

    </section>

    <div class="clearfix"></div>

</div>