@model IEnumerable<Diary.ViewModels.Entryvm>

<section id="month">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="section">
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 month-item">
                    <h4>@Html.DisplayFor(modelItem => item.Date)</h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.Texts)
                    </p>
                    <span>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </span>
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })

                </div>
            }
        </div>
    </div>
</section>