@model IEnumerable<Diary.ViewModels.Archivevm>

<!-- month grid section -->
<section id="month">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="section">
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 month-item">
                    <a class="month-link" href="@Url.Action("Entries", "Home", new { id = item.Id})">
                        <div class="caption">
                            <div class="caption-content">
                                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                            </div>
                        </div>
                        <img src="~/images/month/2.jpg" id="imgs" class="img-responsive" alt="r.jpg">
                    </a>
                </div>

            }
        </div>
    </div>
</section>
<!-- month grid section -->
